@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

:root {
  font-size: 87.5%;
}

@media (min-width: 1024px) {
  :root {
    font-size: 75%;
  }
}

html, body, #root {
  min-height: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 0;
}

.table-scroll {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
